.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 230px;
}

.iconList {
    list-style: none;
    display: flex;
    gap: 24px;
    margin: 0;
    padding: 0;
}

.logo {
    width: 350px;
    height: auto;
    display: block;
}