@import "big-screen.css";

@import "cell-phone.css";

body {
  background-color: #000000;
  color: #FEF2E4;
  font-family: "Poppins", sans-serif;
}

p {
  color: #FEF2E4;
  font-family: "Poppins", sans-serif;
}

button {
  font-family: "Poppins", sans-serif;
}

